html {
  background-image: url('https://assets.onecompiler.app/42qa4kvdr/42qfam9ty/images%20(33).jpeg');
margin: 0;
padding: 0; 
box-sizing: border-box 
}

h1 {
  color: cyan;
}

input {
  border-radius: 25px;
  height: 1cm;
  width: 2.7in;
  outline: none;
  background: transparent;
  color: white;
}

button {
  width: 2.5in;
  height: 1cm;
  background-color: cyan;
  color: white;
  border-radius: 20px;
}

body {
  display: flex; 
  justify-content: center;
  align-content: center;
  min-height: 100vh;
}

.wrapper {
  width: 420px;
  height: 450px;
  background: transparent;
  border: 2px solid gray;
  align-content: center;
  text-align: center;
  border-radius: 30px;
}

p {
  color: cyan;
}